* {
	margin: none;
	padding: none;
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------- */
:root {
	--light: white;
	--highlight: #de1a1a;
	--highlight2: #2a75bb;
	--bkg: #232323;
	--bkg2: #383838;
}

* {
	color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
	margin: 0.5rem 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 18px;
	font-weight: 900;
}

input {
	padding: 0.5rem;
	font-size: 17px;
	border: none;
	background-color: var(--light);
	border-radius: 0.3rem;
	color: var(--bkg);
}

button {
	background-color: var(--highlight);
	border: none;
	border-radius: 0.3rem;
	padding: 0.5rem;
}

button:hover {
	background-color: var(--highlight2);
}

/* --------------------------------------------------- */

html {
	background-color: var(--bkg);
}

header {
	background-color: var(--highlight2);
	padding: 3rem;
}

.team-section {
	padding: 3rem;
}

.team-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}

.team-card {
	background-color: var(--bkg2);
	padding: 1rem;
	border-radius: 0.3rem;
	width: 100%;
	max-width: 1fr;
}

.pokedex-section {
	padding: 3rem;
	background-color: var(--bkg2);
}

.pokedex-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.pokedex-card {
	background-color: var(--bkg);
	border-radius: .3rem;
	padding: 1rem;
	width: 15%;
}

.pokedex-card img {
	max-width: 100%;
}
